.navbar {
  width: 100%;
  height: 60px;
  padding: var(--mantine-spacing-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.brand {
  font-weight: 700;
  font-size: 1.2rem;
}

.desktop_menu {
  display: none;
  margin-left: auto;

  @media (min-width: 48em) {
    display: block;
  }
}

.burger {
  margin-left: auto;
}
